@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body{
    font-family: 'Orbitron', sans-serif;
    padding-top: 100px;
    padding: 20px;
}

#num{
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}
#button{
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    max-width: 100px;
    display: flex;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
h1{
    font-weight: bold;
}
footer{
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Caveat', cursive;
    background-color: white;
    font-size: 20px;
    text-align: center;
    position: fixed;
    margin: auto;
    width: 100%;
    
}
footer p{

    font-weight: 600;
    letter-spacing: 1px;
}